.particular-alert {
  display: flex;
  margin-bottom: 10px;
  align-items: center;

  .vector-icon {
    width: 35px;
    height: 35px;
  }
}
.alert-message {
  margin-left: 6px;
}
.indent {
  margin-left: 20px;
}
.smallWidth {
  width: 45%;
}
.alcohol-level-radio {
  margin-bottom: 18px;
}
.checkbox-all {
  margin-bottom: 10px;
}
