@if (!!errors && errors.length > 0) {
<pdk-error-summary [errors]="errors" focusOnChange> </pdk-error-summary>
}

<pdk-grid container>
  <pdk-grid full>
    <h1 pdk-typography="heading-xlarge">
      {{
        hasNonProsecutorFullName() && hasSingleProsecutorCode
          ? nonPoliceProsecutor.fullName
          : ('MANUAL_CASE_PROSECUTOR.TITLE' | translate)
      }}
    </h1>
  </pdk-grid>
</pdk-grid>

<pdk-grid container>
  <pdk-grid one-half>
    <form pdk-form novalidate (validSubmit)="submitData()" (errors)="errors = $event">
      @if (isTypeSjp) {

      <pdk-form-field
        label="Prosecution reference number"
        labelType="small"
        [errorMessages]="[
          {
            rule: 'required',
            message: 'Enter prosecution reference number'
          }
        ]"
      >
        <input
          pdk-text-input
          pdk-input
          name="prosecutorCaseReference"
          type="text"
          required
          [(ngModel)]="editManualCase.prosecutorCaseReference"
          maxlength="30"
          required
          data-role="prosecutionAuthorityReference-input"
        />
      </pdk-form-field>

      @if(!hasSingleProsecutorCode){
      <pdk-form-field
        data-test-id="prosecutorSearch"
        label="Prosecuting authority"
        labelType="small"
        [errorMessages]="[
          {
            rule: 'required',
            message: 'Enter prosecuting authority'
          }
        ]"
      >
        <cpp-prosecutor-autosuggest
          [id]="'prosecutionAuthority'"
          name="prosecutionAuthority"
          [filterBy]="standardProsecutors"
          required
          data-role="prosecutionAuthority-input"
          [ngModel]="selectedProsecutorAuthority"
          #prosecutingAuthority="ngModel"
          (ngModelChange)="onSelectedProsecutionAuthority($event)"
        >
        </cpp-prosecutor-autosuggest>
      </pdk-form-field>
      }

      <div pdk-margin-bottom="3">
        <pdk-form-field
          label="Cost claimed by prosecutor"
          labelType="small"
          [errorMessages]="[
            {
              rule: 'invalidCurrency',
              message: 'Enter numerals only, for example £100.00'
            },
            {
              rule: 'required',
              message: 'Enter cost claimed by prosecution'
            },
            {
              rule: 'maxValue',
              message: 'Cost must be less than £1,000,000,000'
            }
          ]"
        >
          <pdk-currency-input
            name="appliedProsecutorCosts"
            required
            [(ngModel)]="editManualCase.prosecutor.appliedProsecutorCosts"
            data-role="costClaimed-input"
          ></pdk-currency-input>
        </pdk-form-field>
      </div>
      <pdk-form-field
        label="Date of notice"
        labelType="small"
        hint
        [errorMessages]="[
          {
            rule: 'required',
            message: 'Enter date of notice'
          },
          {
            rule: 'pastDate',
            message: 'Charge posting date must be today or in the past'
          }
        ]"
      >
        <pdk-date-input
          name="chargePostingDate"
          [ngModel]="editManualCase?.prosecutor?.chargePostingDate"
          (ngModelChange)="editManualCase.prosecutor.chargePostingDate = $event"
          required
          validateDate
          [pastDate]="true"
        >
        </pdk-date-input>
      </pdk-form-field>
      }

      <pdk-form-group>
        <button pdk-button type="submit" data-role="save-applicant-details-button">
          {{ 'MANUAL_CASE_PROSECUTOR.CONTINUE' | translate }}
        </button>
      </pdk-form-group>

      <p pdk-margin-top="2">
        <button
          pdk-link
          type="button"
          class="back-button"
          (blur)="handleBackFocus()"
          (click)="back()"
          (focus)="handleBackFocus()"
          [pdk-fill-colour]="focused ? 'yellow' : undefined"
          [pdk-text-colour]="focused ? 'black' : 'blue'"
        >
          {{ 'MANUAL_CASE_PROSECUTOR.BACK' | translate }}
        </button>
      </p>
    </form>
  </pdk-grid>
</pdk-grid>
